@charset "UTF-8";    /* 文字コードの指定 */

@import 'https://fonts.googleapis.com/css?family=Abel';    /* Google Fonts用のCSSを読み込み */

/*   ページ全体で使う共通のもの     */

html
{
    font-size: 62.5%;
}

body
{
    font-family: '游ゴシック', YuGothic, 'メイリオ', Verdana, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    letter-spacing: .1em;
    color: #4c4c4c;
    background-color: #fdfcf6;
    text-align: center;
}

a
{
    text-decoration: none;

/*    color: #14c0c9;*/
    color: #000;
}

a:hover
{
    text-decoration: underline;
}



.flexible {
    background-image:url("../img/blackcat.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center center;
    
}

.container{
  display: flex;
  flex-direction: row;
}
.box {
  margin: 10px;
  flex: 1;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

}

p{
    text-align: left;
    padding:  30px;
}

h1{
    font-weight: bold;
    padding: 10px;
    color:#9A9A9A;
    background-color: #EEEEEE;
}

div p {
    color:fff;
    text-align: left;
    background-color: #9A9A9A;
    padding: 40px;
}



footer{
        text-align: center;
    padding: 10px 10px;
    background-color: #EEEEEE;
}

.button{
    color: #fff;
    background-color: #9A9A9A;
    padding: 5px;
    border-radius: 5px;
}


.button:hover {
  background-color: #fff;
  color: #000;
}

